<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>ALLEN博客</title>
    <link href="__PUBLIC__/Admin/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/style.min.css?v=4.0.0" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
       <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">我们一生都在错过：
            <br/>在渴望长大中错过童年，在迷茫困惑中错过青春，在狐疑猜忌中错过人际，在平庸麻木中错过机遇。
            <br/>我们悔恨昨日的错过，今天却在一成不变中一错再错。
            <br/>曾经的错，就让它错吧，留给岁月去冲刷；
            <br/>今天的路，仔细审视，好好把握，别让当下的蹉跎与荒废，酿成往后的一声叹息。
                <h4 class="text-danger">那么，现在 ALLEN博客 来了</h4>
            </blockquote>
            <hr>
        </div>
        <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>关于 ALLEN博客</h5>
                    </div>
                    <div class="ibox-content">
                        <p>莫怕，勿悔</p>
                        <ul>
                            <li>一生要铭记四个字：莫怕，勿悔。取舍间别犹豫，想好了就去做，退却中易错过；得失前别忐忑，是你的跑不掉，不是的少强求；成败中别浮躁，追来逐去，皆要消散，除了心之淡定，其它都是浮云。若怕，唯有让；若让，多是败；若败，只剩悔。前半生莫怕，后半世勿悔。别承载过甚，智者不惜死，懦夫苟且生。</li>
                        </ul>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>作者信息</h5>

                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 博客：<a href="" target="_blank">http://ALLEN.cn</a>
                        </p>
                        <p><i class="fa fa-qq"></i> Q Q  ：<a href="" target="_blank">*********</a>
                        </p>
                        <p><i class="fa fa-weixin"></i> 微信：<a href="javascript:;">we-chat（A | ALLEN）</a>
                        </p>
                    </div>
                </div>
            </div>
        <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#version" href="#v40">v1.0.0</a><code class="pull-right">2016.10.16</code>
                                            </h5>
                                    </div>
                                    <div id="v40" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ol>
                                                <li>作者开发 老张博客 博客系统</li>
                                                <li>增加前台注册、登录等功能</li>
                                                <li>增加标签等功能</li>
                                                <li>增加后台</li>
                                                <li>增加后台RBAC权限管理系统</li>
                                                <li>增加TinkPHP 分页样式</li>
                                                <li>增加验证码功能</li>
                                                <li>增加邮箱注册功能</li>
                                                <li>增加微信找回密码功能</li>
                                                <li>增加点赞功能</li>
                                                <li>增加文章阅读+1功能</li>
                                                <li>增加百度UI功能</li>
                                                <li>其余正在完善 </li>
                                                
                                                <li>欢迎支持 ALLEN博客，谢谢大家</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 >系统信息</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                       <h5 class="panel-title">系统</h5>
                                    </div>
                                    <div id="v40" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ul>
                                                <li>框架信息 :  <a href="http://www.thinkphp.cn/">TinkPHP 3.2.3 </a></li>
                                                <br>
                                                <li>本 机 IP :  127.0.0.1</li>
                                                <br>
                                                <li>欢迎支持 A.B & Blog ，谢谢大家</li>
                                                <br>
                                                <li>如果您喜欢我们的博客开源系统,随意金额 打赏支付宝 : <a href="#">*********@qq.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        </div>
    </div>
    <script src="__PUBLIC__/Admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/Admin/js/content.min.js"></script>
    <script src="__PUBLIC__/Admin/js/welcome.min.js"></script>
</body>

</html>